:root {
  --light: #eae9f0;
  --dark: #1f1428;
  --midnight: #2b1e66;
  --neonlight: #fff;
  --neongreen: #0fa;
  --neongreengradienttint: #66ffcc;
  --greengradientdark: rgb(13, 141, 98);
  --neonblue: #5271ff;
  --neonpurple: #9f68c3;
  --neonpink: #bc13fe;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* FONT FAMILY */

body {
  font-family: 'Source Sans Pro', 'Merriweather', sans-serif;
  background-color: var(--light);
  color: var(--midnight);
}

/* Neon Styling */

.neontext {
  font-family: 'Yellowtail', 'Pacifico', cursive;
  color: var(--neonlight);
  text-shadow:
    0 0 7px var(--neonlight),
    0 0 10px var(--neonlight),
    0 0 21px var(--neonlight),
    0 0 42px var(--neongreen),
    0 0 82px var(--neongreen),
    0 0 92px var(--neongreen),
    0 0 102px var(--neongreen),
    0 0 151px var(--neongreen);
  animation: flicker .5s ease-in-out 20 alternate;

}

.pinkneonborder {
  border: 0.2rem solid var(--neonlight);
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow:
    0 0 .2rem var(--neonlight),
    0 0 .2rem var(--neonlight),
    0 0 2rem var(--neonpink),
    0 0 0.8rem var(--neonpink),
    0 0 2.8rem var(--neonpink),
    inset 0 0 1.3rem var(--neonpink);
}

.greenneonborder {
  border: 0.2rem solid var(--neonlight);
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow:
    0 0 .2rem var(--neonlight),
    0 0 .2rem var(--neonlight),
    0 0 2rem var(--neongreen),
    0 0 0.8rem var(--neongreen),
    0 0 2.8rem var(--neongreen),
    inset 0 0 1.3rem var(--neongreen);
}

/* FLICKER ANIMATION */
@keyframes flicker {

  100% {

    text-shadow:
      0 0 4px var(--neonlight),
      0 0 11px var(--neonlight),
      0 0 19px var(--neonlight),
      0 0 40px var(--neongreen),
      0 0 80px var(--neongreen),
      0 0 90px var(--neongreen),
      0 0 100px var(--neongreen),
      0 0 150px var(--neongreen);

  }

  0% {

    text-shadow:
      0 0 4px var(--neonlight),
      0 0 10px var(--neonlight),
      0 0 18px var(--neonlight),
      0 0 38px var(--neongreen),
      0 0 73px var(--neongreen),
      0 0 80px var(--neongreen),
      0 0 94px var(--neongreen),
      0 0 140px var(--neongreen)
  }
}


/* HEADER / HERO */
header {
  box-shadow:
    0 0 7px var(--dark),
    0 0 10px var(--dark),
    0 0 21px var(--dark),
  ;
}

.heroimg {
  background-image: url(https://images.unsplash.com/photo-1558481795-7f0a7c906f5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1196&q=80);
  height: 175px;
  border-bottom: solid 2px var(--dark);
  box-shadow: inset 0px 0px 50px var(--dark);
}

/* Make elements with the HTML hidden attribute stay hidden by default */

.hidden {
  display: none;
}

li {
  list-style: none;
}

.button:hover {
  transition-property: background-color;
  transition-duration: 700ms;
}

.events {
  display: flex;
}

.headerEvents {
  background-image: url(https://images.unsplash.com/photo-1558481795-7f0a7c906f5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1196&q=80);
  height: 75px;
  border-top: solid 2px var(--dark);
  border-bottom: solid 2px var(--dark);
  box-shadow: inset 0px 0px 50px var(--dark);
}

/* cards border animation */
.cards {
  min-height: 50%;
  line-height: 40px;
  text-align: center;
  /*box-shadow: 8px 7px 10px var(--midnight);*/
  display: flex;
  background-color: var(--midnight);
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  border-radius: 40px;
  color: var(--light);
}

/* LINKS AND BUTTONS*/
a {
  text-decoration: none;
  color: var(--light);
}

button.btn {
  background-color: var(--midnight);
  color: var(--light);
}

button.search {
  width: 75%;
}

button.prevsearch {
  background-color: var(--neonpurple)
}

a:hover,
button:hover {
  transform: scale(1.08);
  color: var(--light);
  text-shadow:
    0 0 7px var(--neonlight),
    0 0 10px var(--neonlight),
    0 0 21px var(--neonlight),
    0 0 42px var(--neongreen),
    0 0 82px var(--neongreen),
    0 0 92px var(--neongreen),
    0 0 102px var(--neongreen),
    0 0 151px var(--neongreen);
  animation: flicker .5s ease-in-out infinite alternate;
}

.cards h4 {
  color: var(--light);
  font-weight: bold;
}

.cards p.details {
  color: var(--light);
  z-index: 12;
}

.cards h4,
li,
img,
button,
a {
  z-index: 10;
}

.cards::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 170%;
  background: linear-gradient(var(--neongreen), var(--neongreengradienttint));  
  border: 0.1rem solid var(--neongreen);
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow:
    0 0 7px var(--neonlight),
    0 0 10px var(--neonlight),
    0 0 21px var(--neonlight),
    0 0 42px var(--neongreen),
    0 0 82px var(--neongreen),
    0 0 92px var(--neongreen),
    0 0 102px var(--neongreen),
    0 0 151px var(--neongreen);
}

.cards:hover:before {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.cards::after {
  content: "";
  position: absolute;
  background-color: var(--midnight);
  inset: 6px;
}

.modal-alert::backdrop {
  background: var(--dark);
}

.modal-alert {
  padding: 5px 50px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 1em var(--neongreen);
}

.close-modal {
  color: rgb(13, 141, 98);
  border: thin var(--light);
  font-weight: bold;
}

.close-modal:hover {
  transform: scale(1.05);
  background-color: var(--greengradientdark);
  color: var(--light);
}

/* Accessability */
@media screen and (prefers-reduced-motion) {
  body {
    animation: none;
  }
}

.carousel img {
  object-fit: cover;
  filter:brightness(0.6);
}

.carousel h5 {
  font-size: 50px;
  font-weight: bold;
}

.carousel p {
  font-size: 25px;
  line-height: 10px;
  font-weight: bold;
}
/* Carousel Media Queries */
@media screen and (max-width:768px){
  .carousel img {
    height: 300px;
    object-fit: cover;
  }

  .carousel h5 {
    font-size: 25px;
  }

  .carousel p {
    font-size: 18px;
    line-height: 20px;
  }
}