*,
::before,
::after {
  box-sizing: border-box;

}

/* HERO */

.heroimg {
  background-image: url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  height: 400px;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

li {
  list-style: none;
}

.button:hover {
  transition-property: background-color;
  transition-duration: 700ms;
}

 /* cards border animation */
 .cards {
  /* box-shadow:  */
    /* 0 0 0.1vw 0.2vw #fff7f7,
    0 0 0.3vw 0.4vw #f85757,
    0 0 0.5vw   0.2vw #f01c1c,
  inset 0 0 0.5vw 0.2vw #f01c1c,
  inset 0 0 0.2vw 0.1vw #f85757,
  inset 0 0 0.3vw 0.1vw #fff7ff; */
  
  box-shadow: 16px 14px 20px gray;
  width: auto;
  height: auto;
  display: flex;
  background: white;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  overflow:hidden;
  border-radius: 20px;
}

.cards h4, li, img, button, a {
  z-index: 10;
}

.cards::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 170%;
  background: linear-gradient(hwb(24 0% 0%), #e01649);
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0%
  {
    transform: rotate(0deg)
  }
  100%
  {
    transform: rotate(360deg)
  }
}

.cards::after {
  content: "";
  position: absolute;
  background:white;
  inset: 6px;
} 

  /* hamburguer menu */
.hamburger {
  cursor:pointer;
  width: 24px;
  height: 24px;
  transition:all 0.25s;
  position: relative;
}

.hamburger span {
  position:absolute;
  top:0;
  left:0;
  width:24px;
  height: 2px;
  background-color: black;
  /* transform: rotate(0);
  transition: all 0.5s; */
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px)
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}