*,
::before,
::after {
  box-sizing: border-box;
}

/* Neon Styling */

.neontext {
  font-family: 'Pacifico', cursive;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

/* FONT FAMILY */

body {
  font-family: 'Source Sans Pro','Merriweather', sans-serif;
}

/* HERO */

.heroimg {
  background-image: url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  height: 350px;
  ;
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
  height: 200px
}

/* Make elements with the HTML hidden attribute stay hidden by default */

.hidden {
  display: none;
}

li {
  list-style: none;
}

.button:hover {
  transition-property: background-color;
  transition-duration: 700ms;
}

/* cards border animation */
.cards {
  /* box-shadow:  */
  /* 0 0 0.1vw 0.2vw #fff7f7,
    0 0 0.3vw 0.4vw #f85757,
    0 0 0.5vw   0.2vw #f01c1c,
  inset 0 0 0.5vw 0.2vw #f01c1c,
  inset 0 0 0.2vw 0.1vw #f85757,
  inset 0 0 0.3vw 0.1vw #fff7ff; */

  /* width: 40%; */
  min-height: 60%;
  line-height: 40px;
  text-align: center;
  box-shadow: 16px 14px 20px gray;
  display: flex;
  background: white;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.cards h4,
li,
img,
button,
a {
  z-index: 10;
}

.cards::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 170%;
  background: linear-gradient(rgb(13, 141, 98), #0fa);
  animation: animate 8s linear infinite;
  box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

@keyframes animate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.cards::after {
  content: "";
  position: absolute;
  background: white;
  inset: 6px;
}

.modal-alert::backdrop {
  background: rgb(0 0 0 / 0.5);
}

.modal-alert {
  padding: 5px 50px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 1em #0fa;
}

.close-modal {
  color:rgb(13, 141, 98);
  border: thin gray;
  font-weight: bold;
}

.close-modal:hover {
  transform: scale(1.05);
  background-color: rgb(13, 141, 98);
  color:white
}
